[submodule "orthogonal-knapsack"]
	path = orthogonal-knapsack
	url = ./orthogonal-knapsack/
[submodule "replit-vscode-revived"]
	path = replit-vscode-revived
	url = https://github.com/megatron0000/replit-vscode-revived
